---
http_interactions:
- request:
    method: get
    uri: https://us-street.api.smartystreets.com/street-address?auth-id=27c4e6c2-b852-767e-f89e-3d61a1310191&auth-token=eJRU0vxl16da3brBQIZ8&candidates=10&city=Columbus&street=143%20e%20Maine%20Street&zipcode=43215
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"input_index":0,"candidate_index":0,"delivery_line_1":"143 E Main
        St","last_line":"Columbus OH 43215-5370","delivery_point_barcode":"432155370992","components":{"primary_number":"143","street_predirection":"E","street_name":"Main","street_suffix":"St","city_name":"Columbus","default_city_name":"Columbus","state_abbreviation":"OH","zipcode":"43215","plus4_code":"5370","delivery_point":"99","delivery_point_check_digit":"2"},"metadata":{"record_type":"H","zip_type":"Standard","county_fips":"39049","county_name":"Franklin","carrier_route":"C023","congressional_district":"03","building_default_indicator":"Y","rdi":"Commercial","elot_sequence":"0232","elot_sort":"A","latitude":39.956700,"longitude":-82.993840,"precision":"Zip9","time_zone":"Eastern","utc_offset":-5,"dst":true},"analysis":{"dpv_match_code":"D","dpv_footnotes":"AAN1","dpv_cmra":"N","dpv_vacant":"N","dpv_no_stat":"Y","active":"Y","footnotes":"H#M#"}}]'
  recorded_at: Wed, 05 Apr 2023 20:57:20 GMT
recorded_with: VCR 6.1.0
