---
http_interactions:
- request:
    method: get
    uri: https://us-street.api.smartystreets.com/street-address?auth-id=8e262b22-9b18-a08b-6bfd-7afac7f4ba59&auth-token=g7uBSiMbRBHbfoSsCUOt&candidates=10&city=Columbus&street=123%20Main%20St&zipcode=43215
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"input_index":0,"candidate_index":0,"delivery_line_1":"123 E Main
        St","last_line":"Columbus OH 43215-5207","delivery_point_barcode":"432155207236","components":{"primary_number":"123","street_predirection":"E","street_name":"Main","street_suffix":"St","city_name":"Columbus","default_city_name":"Columbus","state_abbreviation":"OH","zipcode":"43215","plus4_code":"5207","delivery_point":"23","delivery_point_check_digit":"6"},"metadata":{"record_type":"S","zip_type":"Standard","county_fips":"39049","county_name":"Franklin","carrier_route":"C023","congressional_district":"03","rdi":"Commercial","elot_sequence":"0239","elot_sort":"D","latitude":39.956680,"longitude":-82.994040,"precision":"Zip9","time_zone":"Eastern","utc_offset":-5,"dst":true},"analysis":{"dpv_match_code":"Y","dpv_footnotes":"AABB","dpv_cmra":"N","dpv_vacant":"N","dpv_no_stat":"N","active":"Y","footnotes":"E#I#"}}]'
  recorded_at: Fri, 31 Mar 2023 15:36:27 GMT
recorded_with: VCR 6.1.0
