---
http_interactions:
- request:
    method: get
    uri: https://us-street.api.smartystreets.com/street-address?auth-id=<API Key>&auth-token=<API
      Token>&candidates=10&city=Anytown&street=123%20Main%20St&zipcode=12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":[{"id":1611079217,"message":"Authentication required (1611079217)"}]}'
  recorded_at: Thu, 06 Apr 2023 16:42:38 GMT
recorded_with: VCR 6.1.0
